<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <display-name>EmployeeSearchApp14</display-name>
  <welcome-file-list>
    <welcome-file>input.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>emp1</servlet-name>
    <servlet-class>com.nt.service.EmployeeSearchServlet</servlet-class>
    <init-param>
      <param-name>driverClass</param-name>
      <param-value>oracle.jdbc.driver.OracleDriver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:oracle:thin:@localhost:1521:orcl</param-value>
    </init-param>
    <init-param>
      <param-name>userName</param-name>
      <param-value>scott</param-value>
    </init-param>
    <init-param>
      <param-name>pwd</param-name>
      <param-value>tiger</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>emp1</servlet-name>
    <url-pattern>/emp</url-pattern>
  </servlet-mapping>
</web-app>