<web-app>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error.jsp</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/404error.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>500error.jsp</location>
	</error-page>
</web-app>
