<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>AnnotaionDriven17</display-name>
  <welcome-file-list>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>test1</servlet-name>
  <servlet-class>com.nt.test.Test1</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>test1</servlet-name>
  <url-pattern>/testurl3</url-pattern>
  </servlet-mapping>
</web-app>